<div style="background-color: #222433">
<mat-sidenav-container class = "tp-container">
    <mat-sidenav style="width: 20%;background-color: #222433;" mode = "side" opened>
       
        <div style="height: 232px; width: 232px;">
            <section class = "tp-section">
                <img class="logo" style="width: 232px;height: 232px;" src="../assets/Images/logo.jpeg">
               </section>
        </div>
        <div style="border-bottom: double #9c804a;width: 189px;margin-left: 12px;margin-top: 14px;">
            <div style=" margin: 10px 10px 10px 0px;">
                <section class = "tp-section">
                    <a style="text-decoration: none; color:#220bee;" routerLink="projects" >Projects</a> 
                   </section>
            </div>
        </div>
     <div style="border-bottom: double #9c804a;width: 189px;margin-left: 12px;margin-top: 14px;">
         <div style=" margin: 10px 10px 10px 0px;">
            <section class = "tp-section">
                <a style="text-decoration: none; color:#220bee" routerLink="epics">Epics</a>
               </section>
         </div>
         

     </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
 </mat-sidenav-container>
</div>