<div class="headContainer">
    <h1 class="headstyle">Project Management</h1>
</div>
<div style="padding-top: 1ex;">
    <div class="actions">  
        <div style="position: absolute;">
            <mat-icon  (click)="onAddProject()" style="color: rgb(12, 91, 238);">add_circle</mat-icon>
        </div> 
        <div class="addtext">
            <span style="margin: 0.3em;text-align: left;">Add Projects</span>
        </div>
    </div>
    <div>
        <app-addprojectdetails></app-addprojectdetails>
    </div>
    
</div>

    
    
    